.Btn{
    background-color: #133630;
    padding: 15px 25px; 
    color:white;
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.BtnCont{
    position: relative;
}

.Btn:hover{
    background-color: rgba(19, 54, 48,0.8);
}