.container {
  padding: 0 15vh;
}

.main {
  min-height: 100%;
}
.landingLogo{
  background:url('/assets/logo1.png') no-repeat center center ;
  background-size:contain;
}
.aboutBg{
  background:url('/assets/landing-pic.png') no-repeat center center ;
  background-size:cover;
}

.overlay{
  background:rgba(19,54,48,0.6);
  top:0;
  left:0;
  width:100%;
  height:100%;
  
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.whitespace{
  margin: 20vh;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
